baseURL = 'https://maurerit.github.io/'
languageCode = 'en-us'
title = 'maurerit@github'
theme = 'hugo-blog-awesome'

DefaultContentLanguage = "en"
enableInlineShortcodes = true

# Automatically add content sections to main menu
sectionPagesMenu = "main"

[params]
noindex = false

[params.theme]
palette = "windows-95"

# Sidebar: about/bio
[params.about]
title = "maurerit"
description = "The GitHub home of Matt Maurer"
logo = "images/rice.svg"

[params.author]
avatar = "avatar.jpg"
intro = "Through the mind of a curious developer"
name = "Matthew Maurer"
description = "The small internet home of me, Matt Maurer... and now r3r4um.  Thanks GitHub!"

# Sidebar: social links
# Available icon sets:
# * FontAwesome 6 <https://fontawesome.com/> ('fa-brands', 'fa-normal', or 'fa-solid' for brands)
# * Academicons <https://jpswalsh.github.io/academicons> ('ai ai-')

[[params.socialLinks]]
icon = "fa-brands fa-github"
title = "GitHub"
url = "https://github.com/maurerit"

[[params.socialLinks]]
icon = "fa-solid fa-envelope"
title = "Email"
url = "mailto:maurer.it@gmail.com"

[[params.socialLinks]]
icon = "fa-brands fa-docker"
title = "DockerHub"
url = "https://hub.docker.com/repositories/maurerit"

[[params.socialLinks]]
icon = "fa-brands fa-linkedin"
title = "LinkedIn"
url = "https://www.linkedin.com/in/matthewlmaurer/"

[[params.socialLinks]]
icon = "fa-brands fa-x-twitter"
title = "X.com"
url = "https://x.com/MaurerIt"

[menu]

  [[menu.main]]
    identifier = "about"
    name = "About"
    url = "/about/"
    weight = 10
  [[menu.main]]
    identifier = "my-tech-journey"
    name = "My Tech Journey"
    url = "/my-tech-journey/"
    weight = 10

[taxonomies]
category = "categories"
tag = "tags"
series = "series"

# For hugo >= 0.60.0, enable inline HTML
[markup.goldmark.renderer]
unsafe = true

[markup]

  # Table of contents
  # Add toc = true to content front matter to enable
  [markup.tableOfContents]
    startLevel = 2
    endLevel   = 3
    ordered    = true

[privacy]

  [privacy.vimeo]
    disabled = false
    simple = true

  [privacy.twitter]
    disabled = false
    enableDNT = true
    simple = true

  [privacy.instagram]
    disabled = false
    simple = true

  [privacy.youtube]
    disabled = false
    privacyEnhanced = true

[services]

  [services.instagram]
    disableInlineCSS = true

  [services.twitter]
    disableInlineCSS = true

